<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<link href="../resources/css/nav-bar.css" rel="stylesheet">
<link href="../resources/css/carousel.css" rel="stylesheet">
<main>
    <div class="container">
        <h1>Help</h1>


<%- include ('../partials/footer') %>