<%- include ('../partials/header') %>
<%- include ('../partials/menu_top') %>
<li class="nav-item nav-secondary">
    <a class="nav-link" href="/home">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/market">Market</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/account">Account</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/help">Help</a>
</li>
<%- include ('../partials/menu_bottom') %>

<main class="container h-75 w-100">
    <div class="container h-100 w-75 d-flex flex-column align-items-center justify-content-center text-center">
        <h1 class="mb-3">FAQ</h1>
        <div class="accordion w-75" id="accordionExample">
            <div class="card bg-dark">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-warning" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How to access account page?
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body text-light">
                        Click on account on the menu bar above.
                    </div>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-warning collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How to access your meals?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body text-light">
                        You can access your meals on the market page by clicking on market on the menu.
                    </div>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-warning collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How to transfer and receive meals?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body text-light">
                        You can transfer and receive meals through the market page.
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<%- include ('../partials/footer') %>