<%- include ('../partials/header') %>
<link href="../resources/css/nav-bar.css" rel="stylesheet">
<link href="../resources/css/carousel.css" rel="stylesheet">

<%- include ('../partials/menu_top') %>
<li class="nav-item nav-secondary">
    <a class="nav-link active" href="/home">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/market">Market</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/account">Account</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/help">Help</a>
</li>
<%- include ('../partials/menu_bottom') %>

<main class="container h-100 w-100 align-items-center">
    <div class="container h-100 w-100 d-flex flex-column align-items-center">
        <h1 class="display-1 mt-5 mb-3">RalphieBites</h1>
        <h4 class="mb-5">Welcome. We are RalphieBites. Our goal is to allow leniency in using meal swipes here at CU Boulder.</h4>
        <div id="carouselExampleCaptions" class="carousel slide w-75" data-bs-ride="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card w-100 bg-dark">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/banner.png" class="img-fluid rounded-start" alt="..." style="width: 100%; height: 25vw; object-fit: cover;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body h-100 d-flex flex-column align-items-center justify-content-center">
                                    <h5 class="card-title text-warning display-6">RalphieBites</h5>
                                    <p class="card-text text-light w-50 fs-5">Use RalphieBites to easily give and receive meal swipes. Swipe right to see our team.</p>
                                </div>
                            </div>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="RalphieBites"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Sanjana"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Ian"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Vraj"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Annie"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Sriyans"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Kavin"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card w-100 bg-dark">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/sanjana.jpg" class="img-fluid rounded-start" alt="..." style="width: 100%; height: 25vw; object-fit: cover;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body h-100 d-flex flex-column align-items-center justify-content-center">
                                    <h5 class="card-title text-warning display-6">Sanjana</h5>
                                    <p class="card-text text-light w-50 fs-5">Hi I am Sanjana Kumpati and I go to the University of Colorado Boulder. I am majoring in computer science.</p>
                                </div>
                            </div>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="RalphieBites"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Sanjana"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Ian"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Vraj"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Annie"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Sriyans"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Kavin"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card w-100 bg-dark">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/ian.jpeg" class="img-fluid rounded-start" alt="..." style="width: 100%; height: 25vw; object-fit: cover;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body h-100 d-flex flex-column align-items-center justify-content-center">
                                    <h5 class="card-title text-warning display-6">Ian</h5>
                                    <p class="card-text text-light w-50 fs-5">Hi, I'm Ian! I am triple majoring in CS, math and philosophy. I love basketball, chess, and coding.</p>
                                </div>
                            </div>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="RalphieBites"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Sanjana"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="active" aria-current="true" aria-label="Ian"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Vraj"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Annie"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Sriyans"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Kavin"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card w-100 bg-dark">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/vraj.jpg" class="img-fluid rounded-start" alt="..." style="width: 100%; height: 25vw; object-fit: cover;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body h-100 d-flex flex-column align-items-center justify-content-center">
                                    <h5 class="card-title text-warning display-6">Vraj</h5>
                                    <p class="card-text text-light w-50 fs-5">Hi I'm Vraj Patel I got to Colorado University of Boulder and I'm majoring in computer science. I am passionate in eating.</p>
                                </div>
                            </div>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="RalphieBites"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Sanjana"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Ian"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" class="active" aria-current="true" aria-label="Vraj"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Annie"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Sriyans"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Kavin"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card w-100 bg-dark">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/annie.jpg" class="img-fluid rounded-start" alt="..." style="width: 100%; height: 25vw; object-fit: cover;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body h-100 d-flex flex-column align-items-center justify-content-center">
                                    <h5 class="card-title text-warning display-6">Annie</h5>
                                    <p class="card-text text-light w-50 fs-5">My name's Annie. I'm a CS major with a minor in Creative Technology and Design. I enjoy reading and trying out different activities.</p>
                                </div>
                            </div>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="RalphieBites"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Sanjana"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Ian"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Vraj"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" class="active" aria-current="true" aria-label="Annie"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Sriyans"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Kavin"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card w-100 bg-dark">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/sriyans.png" class="img-fluid rounded-start" alt="..." style="width: 100%; height: 25vw; object-fit: cover;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body h-100 d-flex flex-column align-items-center justify-content-center">
                                    <h5 class="card-title text-warning display-6">Sriyans</h5>
                                    <p class="card-text text-light w-50 fs-5">I am a CS major with a minor in economics. In my free time, I like watching Formula 1, playing video games, playing tennis, eating new foods, and traveling.</p>
                                </div>
                            </div>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="RalphieBites"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Sanjana"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Ian"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Vraj"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Annie"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" class="active" aria-current="true" aria-label="Sriyans"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Kavin"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card w-100 bg-dark">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/kavin.png" class="img-fluid rounded-start" alt="..." style="width: 100%; height: 25vw; object-fit: cover;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body h-100 d-flex flex-column align-items-center justify-content-center">
                                    <h5 class="card-title text-warning display-6">Kavin</h5>
                                    <p class="card-text text-light w-50 fs-5">Hello! I am a CS major currently doing a major in Space. I love anything creative like drawing, origami, music, etc.</p>
                                </div>
                            </div>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="RalphieBites"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Sanjana"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Ian"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Vraj"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Annie"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Sriyans"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" class="active" aria-current="true" aria-label="Kavin"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>