<%- include ('../partials/header') %>
<%- include ('../partials/menu_top') %>
<li class="nav-item nav-secondary">
    <a class="nav-link" href="/home">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/market">Market</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/account">Account</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/help">Help</a>
</li>
<%- include ('../partials/menu_bottom') %>

<main class="container h-75">
    <div class="container h-100 d-flex flex-column align-items-center justify-content-center">
        <h1 class="mb-5">Market</h1>
        <div class="row w-50">
            <div class="col-sm-6">
                <div class="card h-100 bg-dark text-light">
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold">Donate Meal</h5>
                        <h5 class="card-body text-center">
                            <p class="fs-1 text-warning">19</p>
                            <p>meals available</p>
                        </h5>
                        <a href="#" class="btn btn-warning position-bottom w-100 fw-bold text-uppercase">Donate</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card h-100 bg-dark text-light">
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold">Request Meal</h5>
                        <h5 class="card-body text-center">
                            <p class="fs-1 text-warning">3</p>
                            <p>meals available</p>
                        </h5>
                        <a href="#" class="btn btn-warning position-bottom w-100 fw-bold text-uppercase">Request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>