<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container" style="text-align: center;">
        <h1>Market</h1>
        <body>
            <div class="container">
                <div class="row" style="padding-right: 10%;padding-left: 10%;">
                    <div class="col-sm">
                        <h4>Account Meal Count</h4>
                        <!-- insert code for getting meals in account -->
                        <h5>4</h5>
                        <button type="button">Give</button>
                    </div>

                    <div class="col-sm">
                        <h4>Available Meal Count</h4>
                        <!-- {insert code for getting meals available in community -->
                        <h5>31</h5>
                        <button type="button">Take</button>
                    </div>
                </div>

                <div>
                    <h4></h4>
                </div>
                
            </div>
        </body>
    </div>
</main>

<%- include ('../partials/footer') %>