<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container" style="text-align: center;">
        <h1 style="font-size: 85px">Market</h1>
        <body style="background-color: burlywood;">
            <div class="container">
                <div class="row" style="padding-right: 10%;padding-left: 10%;">
                    <div class="col-sm" style="background-color: gold;padding: 5%;border-style: solid;border-width: 50px;border-color: burlywood;">
                        <h4 style="padding: 5%;">Account Meal Count
                            <h5 style="padding-bottom: 5%;">[placeholder]</h5>
                        </h4>
                        <!-- insert code for getting meals in account -->
                        
                        <button type="button">Give 1 Meal</button>
                    </div>

                    <div class="col-sm" style="background-color: gold;padding: 5%;border-style: solid;border-width: 50px;border-color: burlywood;">
                        <h4 style="padding: 5%;">Available Meal Count</h4>
                        <!-- {insert code for getting meals available in community -->
                        <h5 style="padding-bottom: 5%;">[placeholder]</h5>
                        <button type="button">Take 1 Meal</button>
                    </div>
                </div>

                <div>
                    <h4></h4>
                </div>
                
            </div>
        </body>
    </div>
</main>

<%- include ('../partials/footer') %>