<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main class="container h-75">
    <div class="container h-100 d-flex flex-column align-items-center justify-content-center">
        <h1 class="fs-1 mb-5">Market</h1>
        <div class="row w-50">
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold">Donate Meal</h5>
                        <h5 class="card-body text-center">
                            <p class="fs-1 text-success">19</p>
                            <p>meals available</p>
                        </h5>
                        <a href="#" class="btn btn-primary position-bottom w-100 text-uppercase">Donate</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold">Request Meal</h5>
                        <h5 class="card-body text-center">
                            <p class="fs-1 text-success">3</p>
                            <p>meals available</p>
                        </h5>
                        <a href="#" class="btn btn-primary position-bottom w-100 text-uppercase">Request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>