<%- include ('../partials/header') %>

<main class="container h-100 d-flex flex-column align-items-center justify-content-center">
    <div class="container h-100 d-flex flex-column align-items-center justify-content-center">
        <% if (locals.message) { %>
        <div class="alert alert-danger alert-dismissible fade show <%- locals.error ? 'visible' : 'invisible' %>" role="alert">
            <%= locals.message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <h1 class="display-1 mb-4">RalphieBites</h1>
        <form action="/register" method="post">
            <div class="form-group d-flex justify-content-between mb-3">
                <div class="form-group col-md-6">
                    <label for="first_name" class="text-center text-uppercase fw-bold" style="letter-spacing: 5px;">First Name</label>
                    <input type="text" class="form-control bg-dark text-light" id="inputFirstName" name="first_name" placeholder="e.g. Ralphie" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="last_name" class="text-center text-uppercase fw-bold" style="letter-spacing: 5px;">Last Name</label>
                    <input type="text" class="form-control bg-dark text-light" id="inputLastName" name="last_name" placeholder="e.g. The Buffalo" required>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="email" class="text-center text-uppercase fw-bold" style="letter-spacing: 5px;">Email</label>
                <input type="email" class="form-control bg-dark text-light" id="inputEmail" name="email" placeholder="email@colorado.edu" required>
            </div>
            <div class="form-group mb-3">
                <label for="username" class="text-center text-uppercase fw-bold form-label me-5" style="letter-spacing: 5px;">Username</label>
                <input type="text" class="form-control bg-dark text-light" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-group mb-3">
                <label for="password" class="text-center text-uppercase fw-bold form-label me-5" style="letter-spacing: 5px;">Password</label>
                <input type="password" class="form-control bg-dark text-light" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group mb-4">
                <label for="confirm_password" class="text-center text-uppercase fw-bold form-label me-5" style="letter-spacing: 5px;">Confirm Password</label>
                <input type="password" class="form-control bg-dark text-light" id="confirmPassword" name="confirm_password" placeholder="Re-Enter Password" required>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <p>Already have an account? <a class="text-dark" href="/login">Login</a></p>
                <button type="submit" class="btn btn-dark fw-bold text-uppercase text-warning">Register</button>
            </div>
        </form>
    </div>
</main>

<%- include ('../partials/footer') %>